---
import PageLayout from "@/layouts/PageLayout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";
import Button from "@/components/ui/Button.astro";
---

<PageLayout title="Page Not Found">
  <section
    class="site-container m-auto min-h-[50vh] flex flex-col items-center justify-center"
  >
    <PageHeader
      title="404 - Page Not Found"
      description="The page you're looking for doesn't exist or has been moved."
    />
    <div class="mt-0 flex justify-center">
      <Button url="/">Back to Home</Button>
    </div>
  </section>
</PageLayout>
