---
import Button from "../components/ui/Button.astro";
import { siteConfig } from "@/config/site";
import HeroCard from "@/components/home/HeroCard.astro";
import Layout from "@/layouts/Layout.astro";
import FeaturedWork from "../components/sections/FeaturedWork.astro";
import SocialCard from "@/components/cards/SocialCard.astro";
import AnimatedText from "@/components/ui/AnimatedText.astro";
---

<Layout
  title="Yago Molano"
  description="Welcome to Yago's portfolio site! Explore my work as a GNC engineer in space robotics."
  keywords="Yago, Portfolio, GNC, Robotics, Space, Engineer"
>
  <div
    class="relative site-container z-20 w-full mx-auto mt-16 px-4 md:mt-18 lg:mt-20 xl:px-0"
  >
    <div
      class="relative w-full px-4 flex flex-col items-center justify-between md:flex-row mb-16"
    >
      <div
        class="relative w-full md:max-w-[420px] md:w-1/2 text-center sm:text-left sm:-mt-8"
      >
        <!-- Title - AnimatedText animation -->
        <h1 class="mb-4">
          <AnimatedText
            content="Hi! I'm Yago"
            delay={0.1}
            duration={0.5}
            stagger={0.08}
            class="text-5xl text-pri leading-tight md:text-4xl lg:text-6xl font-brand"
          />
        </h1>

        <!-- First description - AnimatedText animation -->
        <div class="mb-2">
          <AnimatedText
            content="Welcome to my small corner of the internet. I'm a futurist turned, by chance or fate, into a GNC engineer! 🚀"
            delay={0.3}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Second description - AnimatedText animation -->
        <div class="mb-4">
          <AnimatedText
            content="Currently at Lúnasa, developing the autonomous brains for next-generation space robotics, focusing on high-precision algorithms for non-cooperative rendezvous and docking."
            delay={0.5}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Third description -->
        <div
          class="mb-4 text-base text-neutral-700 dark:text-neutral-300"
          data-aos="fade-up-sm"
          data-aos-delay="700"
        >
          Browse my <a
            href="/works"
            class="font-bold underline text-primary dark:text-primary-dark cursor-pointer case-go"
            >projects</a
          >! Beyond engineering, I enjoy tennis, padel, sailing, reading and
          chess, check out my <a
            href="/about"
            class="font-bold underline text-primary dark:text-primary-dark cursor-pointer case-go"
            >About</a
          > page.
        </div>

        <!-- Fourth description -->
        <div
          class="mb-4 text-base text-neutral-700 dark:text-neutral-300"
          data-aos="fade-up-sm"
          data-aos-delay="800"
        >
          I'm trying to join the "learning publicly" movement, check out my
          Obsidian for a (very messy!) window into my brain, and my <a
            href="/resources"
            class="font-bold underline text-primary dark:text-primary-dark cursor-pointer case-go"
            >Resources</a
          >!
        </div>

        <!-- Social Cards - AOS animation -->
        <div
          class="social mt-8 mb-8"
          data-aos="fade-up-sm"
          data-aos-delay="1000"
          data-aos-duration="600"
          data-aos-once="true"
        >
          <SocialCard displaySocialIds={[1, 2, 3]} />
        </div>
      </div>

      <!-- HeroCard - AOS animation -->
      <div
        class="relative justify-end w-full mt-16 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
        data-aos="fade-left-sm"
        data-aos-delay="300"
        data-aos-duration="800"
        data-aos-once="true"
      >
        <HeroCard
          imageUrl="/assets/media/mainpictureherosection.jpeg"
          title="<em>The true delight is in the finding out rather than in the knowing</em> - Isaac Asimov"
          link="/work/robotics-room"
        />
      </div>
    </div>
  </div>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <FeaturedWork
      title="Featured Work ↓"
      description="Technical and creative projects I've led or contributed to, from space robotics to competitive engineering."
      limit={6}
    />
  </section>
</Layout>
