---
import Button from "../components/ui/Button.astro";
import { siteConfig } from "@/config/site";
import HeroCard from "@/components/home/HeroCard.astro";
import Layout from "@/layouts/Layout.astro";
import FeaturedWork from "../components/sections/FeaturedWork.astro";
import BlogSection from "@/components/sections/BlogSection.astro";
import SocialCard from "@/components/cards/SocialCard.astro";
import AnimatedText from "@/components/ui/AnimatedText.astro";
import Explore from "@/components/sections/Explore.astro";
---

<Layout
  title="Yago Molano"
  description="Welcome to Yago's portfolio site! Explore my work as a GNC engineer in space robotics."
  keywords="Yago, Portfolio, GNC, Robotics, Space, Engineer"
>
  <div
    class="relative site-container z-20 w-full mx-auto mt-16 px-4 md:mt-18 lg:mt-20 xl:px-0"
  >
    <div
      class="relative w-full px-4 flex flex-col items-center justify-between md:flex-row mb-16"
    >
      <div
        class="relative w-full md:max-w-[420px] md:w-1/2 text-center sm:text-left sm:-mt-8"
      >
        <!-- Title - AnimatedText animation -->
        <h1 class="mb-4">
          <AnimatedText
            content="Hi, I'm Yago"
            delay={0.1}
            duration={0.5}
            stagger={0.08}
            class="text-5xl text-pri leading-tight md:text-4xl lg:text-6xl font-brand"
          />
        </h1>

        <!-- First description - AnimatedText animation -->
        <div class="mb-2">
          <AnimatedText
            content="I’m a futurist who found his calling in the precision of Guidance, Navigation, and Control (GNC) engineering."
            delay={0.3}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Second description - AnimatedText animation -->
        <div class="mb-4">
          <AnimatedText
            content="Currently, I’m at Lúnasa, where I develop the autonomous brains for the next generation of space robotics—specifically, the high-precision algorithms enabling complex satellite rendezvous and docking missions."
            delay={0.5}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Social Cards - AOS animation -->
        <div
          class="social mt-8 mb-8"
          data-aos="fade-up-sm"
          data-aos-delay="1000"
          data-aos-duration="600"
          data-aos-once="true"
        >
          <SocialCard displaySocialIds={[1, 2, 3]} />
        </div>
      </div>

      <!-- HeroCard - AOS animation -->
      <div
        class="relative justify-end w-full mt-16 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
        data-aos="fade-left-sm"
        data-aos-delay="300"
        data-aos-duration="800"
        data-aos-once="true"
      >
        <HeroCard
          imageUrl="/assets/media/mainpictureherosection.jpeg"
          title="<em>The true delight is in the finding out rather than in the knowing</em> - Isaac Asimov"
          link="/work/robotics-room"
        />
      </div>
    </div>
  </div>

  <!-- <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <Explore title="Explore ↓" />
  </section> -->

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <FeaturedWork
      title="Featured Work ↓"
      description="A selection of the technical and creative projects I've led or contributed to, from advanced space robotics to competitive engineering missions."
      limit={6}
    />
  </section>

  <!-- <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <BlogSection
      title="Latest Articles  ↓"
      description="These are my notes and articles on design, development and life thinking."
      showViewAllButton={true}
    />
  </section> -->
</Layout>
