---
import PageLayout from "@/layouts/PageLayout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";
---

<PageLayout title="Obsidian Vault">
  <section class="site-container m-auto min-h-[50vh] flex flex-col items-center justify-center">
    <PageHeader
      title="Still Building..."
      description="My Obsidian vault coming soon!"
    />
    <p class="text-neutral-600 dark:text-neutral-400 mt-4 text-center">
      I'm working on connecting my Obsidian vault for public viewing.<br/>
      Check back soon for a window into my brain!
    </p>
  </section>
</PageLayout>
