---
import PageLayout from "@/layouts/PageLayout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";
---

<PageLayout title="Resources & Recommendations">
  <section class="site-container m-auto min-h-[50vh] flex flex-col items-center justify-center">
    <PageHeader
      title="Still Building..."
      description="Resources & Recommendations coming soon!"
    />
    <p class="text-neutral-600 dark:text-neutral-400 mt-4 text-center">
      I'm curating book recommendations, useful resources, and tools I use.<br/>
      Check back soon!
    </p>
  </section>
</PageLayout>
